<div class="projects">
    <h2>Mis Proyectos</h2>

    <div class="cards">

        <a href="https://chip-wx.github.io/PickAndSee/" class="card" target="_blank">
            <img src="/gerardo-prado/img/projects/PickAndSee.PNG" alt="" class="img">
            <h3 class="card-title">Pick & See</h3>
            <p class="card-info">
                Se trata de una herramienta que ayuda a diseñadores web a probar distintas paletas de colores a su elección en tiempo real, usando una simulación de una web. 
            </p>
        </a>

        <a href="https://chip-wx.github.io/landing-rest/" class="card" target="_blank">
            <img src="/gerardo-prado/img/projects/LandingRest.PNG" alt="" class="img">
            <h3 class="card-title">Landing Restaurant</h3>
            <p class="card-info">
                Es una landing page para un restaurante, con distintas secciones que se aplican para un sitio web profesional.
            </p>
        </a>

        <a href="https://chip-wx.github.io/RAW-clone/" class="card" target="_blank">
            <img src="/gerardo-prado/img/projects/RAWClone.PNG" alt="" class="img">
            <h3 class="card-title">RAW Nutrition Clone</h3>
            <p class="card-info">
                Un clon de la web de RAW Nutrition de la primera página.
            </p>
        </a>

        <a href="https://chip-wx.github.io/to-do/" class="card" target="_blank">
            <img src="/gerardo-prado/img/projects/todo.PNG" alt="" class="img">
            <h3 class="card-title">To Do</h3>
            <p class="card-info">
                El típico ejercicio para practicar habilidades lógicas y de programación, una To Do list ayuda para agregar tareas, marcar como completadas, eliminar tareas...
            </p>
        </a>

    </div>
</div>

<style>
    .projects{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    h2{
        font-size: 2.5rem;
        color: var(--primary-color);
    }

    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card{
        height: auto;
        min-height: 275px;
        max-width: 450px;
        width: auto;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        text-decoration: none;
        color: #fff;
        gap: 10px;
    }

    .card-title{
        color: var(--accent-color);
    }

    img{
        width: 350px;
    }
</style>
