---
import SkillsTech from "./skills-tech.astro"
---

<div class="skills">
    <h2>Habilidades</h2>

    <div class="cards">

        <div class="card">
            <h3 class="card-title">Habilidades Técnicas</h3>
            <ul>
                <li>Diseño adaptable</li>
                <li>Diseño UX/UI</li>
                <li>SEO</li>
                <li>Rendimiento WEB</li>
                <li>Accesibilidad a11y</li>
            </ul>
        </div>

        <div class="card">
            <h3 class="card-title">Habilidades Blandas</h3>
           <ul>
                <li>Inteligencia Emocional</li>
                <li>Toma de decisiones</li>
                <li>Comunicación Efectiva</li>
                <li>Gestión del Tiempo</li>
                <li>Gestión del Miedo</li>
           </ul>
        </div>

        <div class="card">
            <h3 class="card-title">Habilidades Profesionales</h3>
            <ul>
                <li>SCRUM</li>
                <li>Manejo de Proyectos</li>
                <li>Documentación</li>
                <li>Testing & QA</li>
                <li>Inglés B2</li>
            </ul>
        </div>
    </div>
    <SkillsTech />
</div>

<style>
    .skills{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 80px;
    }
    h2{
        font-size: 2.5rem;
        color: var(--primary-color);
    }

    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card{
        height: auto;
        min-height: 275px;
        min-width: 300px;
        width: auto;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        text-decoration: none;
        color: #fff;
        gap: 10px;
    }

    .card-title{
        color: var(--accent-color);
    }

    img{
        width: 350px;
    }
</style>
